.input-lado-a-lado {
  display: flex;
}

.input-lado-a-lado input{
  margin: 0 15px;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  overflow: hidden;
  overflow-y: scroll;
}

.resultado.disabled {
  display: none;
}